.page-header {
   border-bottom: 1px solid #ECECEC;
}

.page-header.container {
   border: none;
}

.portfolio-header {
   display: none;
}

.portfolio {
   padding-top: 94px;
   padding-bottom: 94px;
}

.portfolio.container {
   padding-top: 0px;
   padding-bottom: 0px;
}