/* основной цвет текст #757575
вторичный цвет текста  #212121
белый цвет #FFFFFF
цвет ел адреса и телефона в футере rgba (255, 255, 255, 0.6)
цвет акцента #2196F3
цвет кнопок, цвет секции Наша команда #F5F4FA
цвет футера #2F303A */
:root {
   --primery-text-color: #757575;
   --secondary-text-color: #212121;
   --accent-color: #2196F3;
   --footer-text-color: rgba (255, 255, 255, 0.6);
   --white-color: #FFFFFF;
   --footer-backround-color: #2F303A;
}